@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 23.438rem;
  margin: auto;
}

.QR {
  background-color: hsl(0, 0%, 100%);
  padding: 0.938rem;
  border-radius: 0.938rem;
  text-align: center;
}

.QR img {
  width: 100%;
  border-radius: 0.938rem;
}

p {
  font-size: 0.938rem;
  color: darkgray;
  padding: 0 2.5rem 0.625rem 2.5rem;
}

h1 {
  padding: 1.563rem 0.313rem 0.563rem 0.313rem;
  font-weight: 550;
  font-size: 1.6rem;
}
